<%= @game.opposing.name %> was attacked by <%= @game.turn.name %> <br>
<%= @game.opposing.name %> : <%=@game.opposing.hp%>HP<br>
<form action='/change_turn' method='post'>
  <input type='submit' value='Continue'/>
</form>
