<% if @game.type_of_attack == :cure %>
<div><%= @game.turn.name %> cures himself this turn</div>
<% else %>
<div><%= @game.turn.name %> attacks <%= @game.opposing.name %></div>
<% end%>

<form action='/change_turn' method='post'>
  <input type='submit' value='Continue'/>
</form>
